@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.fc-event-title {
    font-weight: bold;
}

:root {
    --primary: #333;
    --secondary: #2eaf86;
    --errorColor: red;
    --stepNumber: 6;
    --containerWidth: 600px;
    --bgColor: #333;
}


body {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary: #333;
    --secondary: #333;
    --errorColor: red;
    --stepNumber: 5;
    --containerWidth: 100%;
    --bgColor: #333;
    --inputBorderColor: lightgray;
}

::selection {
    color: #fff;
    background: var(--primary);
}
.container {
    width: var(--containerWidth);
    background: #fff;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    /* padding: 50px 35px 10px 35px; */
}

/* TODO: merge form into form-outer */
.container .form-outer {
    width: 100%;
    overflow: hidden;
}
.container .form-outer form {
    display: flex;
    width: calc(100% * var(--stepNumber));
}

.page {
    width: calc(100% / var(--stepNumber));
    transition: margin-left 0.3s ease-in-out;
}

.page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.page .field {
    width: var(--containerWidth);
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}

.page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}
.page .field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid var(--inputBorderColor);
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 1px;
    font-size: 18px;
    transition: border-color 150ms ease;
}
.page .field input.invalid-input {
    border-color: var(--errorColor);
}
.page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
.page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--secondary);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.page .field button:hover {
    background: #000;
}
form .page .btns button {
    margin-top: -20px !important;
    margin-right: 3px;
}

.progress-bar {
    display: flex;
    margin: 17px 0;
    user-select: none;
}
.progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}
.progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin: 8px 0;

}
.progress-bar .step .bullet {
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.progress-bar .step .bullet.active {
    border-color: var(--primary);
    background: var(--primary);
}
.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
    display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 11px;
    left: 35px;
    height: 3px;
    width: 90px;
    background: #262626;
}
.progress-bar .step .bullet.active:after {
    background: var(--primary);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}
.progress-bar .step p.active {
    color: var(--primary);
    transition: 1s linear;
}
.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 77%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active {
    display: block;
    color: #fff;
}

@media screen and (max-width: 660px) {
    :root {
        --containerWidth: 400px;
    }
    .progress-bar .step p {
        display: none;
    }
    .progress-bar .step .bullet::after,
    .progress-bar .step .bullet::before {
        display: none;
    }
    .progress-bar .step .bullet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .progress-bar .step .check {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        display: none;
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 490px) {
    :root {
        --containerWidth: 100%;
    }
    .container {
        box-sizing: border-box;
        border-radius: 0;
    }
}


/* Styling for draggables */
.draggable-container {
    display: flex;
    margin: 12px 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 3px;
}

.draggable {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 75px;
    border-radius: 3px;
    padding: 1px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-color: #000;
    margin: 3px;
}


/* SSYLING OF FLASH MESSAGES */
.hidden {
    display: none;
}

.success-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
    border: 1px solid #270;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid #D8000C;
}


.num-shift-container {
    display: flex;
    margin-bottom: 0;
    justify-content: center;
}

.num-shift {
    width: 40%;
    padding: 2px;
    margin: 5px 0;
}

.num-shift label {
    font-weight: 500;
}

.num-shift input {
    height: 25px;
}

.shift-select {
    user-select: none;
}

.shift-select:disabled {
    opacity: 1;
}

.swap-shift-selected {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.swap-shift-selected .shift-select {
    background-color: lightblue;
}



.parent-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS */
.swap-button {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  height: 35px;
  cursor: pointer;
  font-size: 100%;
  margin-right: 10px;
  outline: none;
  overflow: hidden;
  padding: 0 7px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.swap-button:disabled {
  cursor: default;
}

.swap-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* NAVBAR STYLING */
.navbar {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: baseline; */
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    border-radius: 7px;
}

.navbar li {
    padding: 10px 25px;
    margin: 0;
    list-style-type: none;
    border-radius: 7px;
}

.navbar li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar li:hover {
    background-color: #000;
}

.link-active {
    background-color: #04AA6D;
}


/* Styling for Trooper list */
.trooper-list{
    background-color: #f4f6f6;
    padding: 10px;
    list-style-type: none;
    list-style: none;
    margin-top: 10px;
}

.first-row{
    display: flex;
    align-items: center;
  }
  
.first-row em{
    flex: 1;
    color: grey;
}

.trooper-btn {
    user-select: none;
    line-height: 30px;
    background: teal;
    color: white;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid;
    padding: 1px 5px;
    margin-left: auto; 
}

.trooper-info{
    background-color: #fffcfc;
    padding: 5px 0;
    margin: 10px 0;
    text-indent: 5px;
    display: flex;
    align-items: center;
}

.trooper-type{
    color: #949494;
}

.info-text {
    margin-left: 5px;
    color: black;
}

.present {
    color: green;
}
  
.absent{
    color: red;
}

.icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }

.edit-icon {
    cursor: pointer;
}
    
.trooper-form {
    display: none;  
    border-radius: 10px;
    padding: 0 30px 30px 30px;
    width: 70vw;
    background: #fff;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* box-shadow: 10px 10px 20px  rgb(178, 178, 178); */
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }




/* Close button */
.modalClose {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
}
  
.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* Toggle switch styling */
.toggle-switch{
    display: inline-flex;
    background: #fff;
    height: 40px;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 15px 15px;
    /* box-shadow: 5px 5px 30px rgba(0,0,0,0.2); */
}
  
.toggle-switch .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
  
.toggle-switch .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
  
.toggle-switch .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #333333;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.toggle-switch input[type="radio"]{
    display: none;
}
  
.option-1-input:checked ~ .option-1-label,
.option-2-input:checked ~ .option-2-label{
    border-color: #333333;
    background: #333333;
}

.option-1-input:checked ~ .option-1-label .dot,
.option-2-input:checked ~ .option-2-label .dot{
    background: #fff;
}

.option-1-input:checked ~ .option-1-label .dot::before,
.option-2-input:checked ~ .option-2-label .dot::before{
    opacity: 1;
    transform: scale(1);
}
  
.toggle-switch .option span{
    font-size: 20px;
    color: #808080;
}
  
.option-1-input:checked ~ .option-1-label span,
.option-2-input:checked ~ .option-2-label span{
    color: #fff;
}
